*{
    margin: 0;
    padding: 0;
}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* body{
    background-color: rgb(213, 213, 230);
} */

nav{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: rgb(209, 222, 240);
    margin-top: 1rem;
}

#decor1{
    height: 100px;
    width: 100px;
    background-color: aqua;
    opacity: 50%;
}

input{
    background-color: black;
    padding: 2vh;
    color: white;
    border-radius: 30%;
    width: 6rem;
    font-weight: bolder;
    margin-left: 1.2rem;
    cursor: pointer;
}

.container{
    display: flex;
    margin-top: 20vh;
    margin-left: 50vh;
    width: 120vh;
}

/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120vh;
} */

#container1{
    display: flexbox;
    box-sizing: border-box; 
}

h1{
    padding-bottom: 8vh;
    font-size: 3rem;
}

p{
    font-size: 1.1rem;
}

img{
    height: 50vh;
    width: 50vh;
    padding-left: 7vh;
}